{% extends "base.html" %}
{% block title %}DENASX{% endblock %}


{% block content %}
  {% load static %}
  <link rel="stylesheet" href="{% static 'css/index.css' %}">

  {% if content %}
    <!-- HEADER -->
    <header>
    <div class="card">
      <div class="header">
        <div class="left-section section">
          <h1>DENASX</h1>
          <span class="subtitle">@d.en_c.en_</span>
        </div>

        <div class="right-section section">
          <div class="animation">
            <img src="{{ content.gif.url }}"></img>
            <a class="play-btn" href="https://open.spotify.com/track/5YLUzvGHLrYZQSiwtvuNyg?si=786f77ae540c4724" target="_blank">
              <div>▶</div>
            </a>
          </div>
          <p>{{ content.comment }}</p>
        </div>
      </div>
        
      <div class="buttons">
        <a class="fab fa-spotify fa-2x" href="https://open.spotify.com/artist/5t96SIR1UZeLwPMFjY7UoH?si=xbXgFXO1QzGQl0CoXwSPTw" target="_blank"><span>Visit Spotify</span></a>
        <a class="fab fa-instagram fa-2x" href="https://www.instagram.com/d.en_c.en_/" target="_blank"><span>Visit Instagram</span></a>
      </div>
    </div>
    </header>



    <!-- CONTENT -->
    <div class="content-section section">
      <div class="media-container">
        <img src="{{ content.cover_image.url }}" alt="Preview">
        <a href="{{ content.video_link }}" target="_blank" class="video-link">↗</a>
      </div>
    </div>



    <!-- FOOTER -->
    {% include 'footer.html' %}

  {% endif %}
{% endblock %}